
.configurator-container {
    grid-area: order-content;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr 1.5fr;
    gap: 0px 0px;
    grid-template-areas:
    "modelViewer modelSettings"
    "test test";
}
.test { grid-area: test; background-color: greenyellow}

.modelSettings { grid-area: modelSettings; background-color: brown}

.modelViewer {
    grid-area: modelViewer;
    background-color: rebeccapurple;
    align-items: center;
    display: flex;
    /*border: 1px solid;*/
}

#modelViewer {
    /*width: auto;*/
    width: 100%;
    height: 100%;
    display: none;
}

#missingJavaScriptMessage {
    order: 2;
    margin:0 auto;
}