
.configurator-container {
    grid-area: order-content;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr 1.5fr;
    gap: 0px 0px;
    grid-template-areas:
    "modelViewer modelSettings"
    "test test";

}
.test {
    grid-area: test;
    background-color: #edd7a6;
}

.modelSettings {
    grid-area: modelSettings;
    padding: 20px;
}

.modelViewer {
    grid-area: modelViewer;
    /*background-color: rebeccapurple;*/
    align-items: center;
    display: flex;
    /*border: 1px solid;*/

    border: black;
    border-style: solid;
    border-width: 0px 5px 5px 0px;
}

#modelViewer {
    /*width: auto;*/
    width: 100%;
    height: 100%;
    display: none;
}

#missingJavaScriptMessage {
    order: 2;
    margin:0 auto;
}