
.managementMenuBar { grid-area: managementMenuBar; }
.orderBar { grid-area: orderBar; }
.manageOrders {grid-area: manageOrders; }

managementContent {
    grid-area: management-content;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "orderBar"
    "manageOrders";
}

.overflow {
    padding: 15px;
    /*width: 90%;*/
    /*height: 700px;*/
    overflow: scroll;
    /*border: 1px solid #ccc;*/
}