
.managementMenuBar {
    grid-area: managementMenuBar;
    padding: 20px;
    border: black;
    border-style: solid;
    border-width: 0px 5px 0px 0px;
}
.orderBar { grid-area: orderBar; }
.manageOrders {
    grid-area: manageOrders;
    height: 500px;
}

.managementContent {
    grid-area: management-content;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "orderBar"
    "manageOrders";
    padding: 20px;
}

.overflow {
    padding: 15px;
    /*width: 90%;*/
    /*height: 700px;*/
    /*height: 100%;*/
    overflow: scroll;
    /*border: 1px solid #ccc;*/
}