.navBar {
    height: 80px;
    width: 100%;
    padding: 0 15px;
    background-image: url(../ressources/images/Banner.png);
    background-size: cover;
    color: rgb(189, 101, 1);

    display: flex;
    align-items: center;
    box-sizing: border-box;

    font-size: 40px;
}

.navBar .menu-button {
    background-color: #333333;
    width: 110px;
    height: 60px;
    margin-right: 10px;
}

.navBar .menu-button img {
    width: 100%;
    height: 100%;
}

.navBar .items {
    flex: 1;
}

.navBar .item {
    margin: 0 10px;
    font-weight: 800;
}
