.navBar {
    grid-area: navBar;
    ackground-color: red;
    height: 80px;
    width: 100%;
    /*padding: 0 15px;*/
    background-image: url(../ressources/images/Banner.png);
    background-size: cover;
    color: rgb(189, 101, 1);

    display: flex;
    align-items: center;
    box-sizing: border-box;

    font-size: 40px;
}

.navBar > #menu-button {
    background-color: #333333;
    width: 110px;
    height: 60px;
    margin-right: 10px;
}

.navBar #menu-button img {
    width: 100%;
    height: 100%;
}

.navBar .items {
    flex: 1;
}

.navBar .item {
    margin: 0 10px;
    font-weight: 800;
}

@media screen and (max-width: 600px)
{

}



/*.main-container { grid-area: content; background-color: green;}*/
/*.management-container { grid-area: content; background-color: green;}*/
/*.shoppingCart-container { grid-area: content; background-color: green;}*/
/*.checkout-container { grid-area: content; background-color: green;}*/
/*.configurator-container { grid-area: content; background-color: green;}*/
/*.user-container { grid-area: content; background-color: green;}*/
/*.order-container {  background-color: green;}*/

.main-container {
    background-color: bisque;
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "main-content";
    grid-area: content;
}

.order-container {
    background-color: bisque;
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "order-content";
    grid-area: content;
}

.user-container {
    background-color: bisque;
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "user-content";
    grid-area: content;
}

.management-container {
    background-color: bisque;
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "user-content";
    grid-area: content;
}

/*.content { grid-area: content; background-color: green;}*/
.footer { grid-area: footer; background-color: blue;}

.parent {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr 50px;
    gap: 0px 0px;
    grid-template-areas:
    "navBar"
    "content"
    "footer";
}