html {
    /*background-color: black;*/
    color: black;
    /*font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;*/
}

a {
    color: rgb(189, 136, 1);
    text-decoration: none;
}

a:hover {
    color: rgb(255, 241, 212);
}
