.navBar { grid-area: bar; }
.orderProgressBar { grid-area: progress; }
.orderContent { grid-area: main; }
.modelViewerDiv { grid-area: viewer;}
/*.item4 { grid-area: right; }*/
/*.item5 { grid-area: footer; }*/

.orderGrid-container {
    display: grid;
    grid-template-areas:
    'bar bar bar bar bar bar bar'
    'progress progress progress progress progress progress progress'
    'viewer main main main main main main';
    grid-gap: 10px;
    background-color: #eac424;
    padding: 10px;
}

.orderGrid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    /*text-align: center;*/
    /*padding: 20px 0;*/
    /*font-size: 30px;*/
}

#modelViewerDiv{
    max-width: 500px;
}


div.userInput {
    width: 100%;
    height: 100%;
}

#modelViewer {
    width: 500px;
    height: 350px;
    /*width: 100%;*/
    /*height: 100%;*/
}

.modelViewerShopppingCart {
    width: 100px;
    height: 75px;
}

input[type='file'] {
    color: transparent;
}

