    @charset "utf8";

    #slider {
        width: 1200px;
        height: 700px;
        margin: 150px auto auto auto;
        overflow: hidden;
        position: relative;
    }
    
    .slider_img {
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .class_Felge {
        animation: Animation_Felge infinite 20000ms;
    }
    
    .class_Figur {
        animation: Animation_Figur infinite 20000ms;
    }
    
    .class_Haken {
        animation: Animation_Haken infinite 20000ms;
    }
    
    .class_Katze {
        animation: Animation_Katze infinite 20000ms;
    }

    .class_Würfel {
        animation: Animation_Würfel infinite 20000ms;
    }


    @keyframes Animation_Felge {
        0% {
            opacity: 1;
        }
        20% {
            opacity: 1;
        }
        25% {
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }

    @keyframes Animation_Figur {
        0% {
            opacity: 0;
        }
        20% {
            opacity: 0;
        }
        25% {
            opacity: 1;
        }
        45% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }

    @keyframes Animation_Haken {
        0% {
            opacity: 0;
        }
        45% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        70% {
            opacity: 1;
        }
        75% {
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }

    @keyframes Animation_Katze {
        0% {
            opacity: 0;
        }
        70% {
            opacity: 0;
        }
        75% {
            opacity: 1;
        }
        95% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }