    @charset "utf8";
    #slider {
        width: 1200px;
        height: 700;
        margin: 150px auto auto auto;
        overflow: hidden;
        position: relative;
    }
    
    .slider_img {
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .class_beispiel1 {
        animation: Animation_Beispiel1 infinite 20000ms;
    }
    
    .class_sadcat1 {
        animation: Animation_Sadcat1 infinite 20000ms;
    }
    
    .class_sadcat2 {
        animation: Animation_Sadcat2 infinite 20000ms;
    }
    
    .class_sadcat3 {
        animation: Animation_Sadcat3 infinite 20000ms;
    }
    
    @keyframes Animation_Beispiel1 {
        0% {
            opacity: 1;
        }
        20% {
            opacity: 1;
        }
        25% {
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }
    
    @keyframes Animation_Sadcat1 {
        0% {
            opacity: 0;
        }
        20% {
            opacity: 0;
        }
        25% {
            opacity: 1;
        }
        45% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }
    
    @keyframes Animation_Sadcat2 {
        0% {
            opacity: 0;
        }
        45% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        70% {
            opacity: 1;
        }
        75% {
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }
    
    @keyframes Animation_Sadcat3 {
        0% {
            opacity: 0;
        }
        70% {
            opacity: 0;
        }
        75% {
            opacity: 1;
        }
        95% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }