    @charset "utf8";

    #slider {
        width: 1200px;
        height: 700px;
        margin: 150px auto auto auto;
        overflow: hidden;
        position: relative;
    }
    
    .slider_img {
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .class_PrintExample1 {
        animation: Animation_PrintExample1 infinite 20000ms;
    }
    
    .class_PrintExample2 {
        animation: Animation_PrintExample2 infinite 20000ms;
    }
    
    .class_PrintExample3 {
        animation: Animation_PrintExample3 infinite 20000ms;
    }
    
    .class_PrintExample4 {
        animation: Animation_PrintExample4 infinite 20000ms;
    }


    @keyframes Animation_PrintExample1 {
        0% {
            opacity: 1;
        }
        20% {
            opacity: 1;
        }
        25% {
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }

    @keyframes Animation_PrintExample2 {
        0% {
            opacity: 0;
        }
        20% {
            opacity: 0;
        }
        25% {
            opacity: 1;
        }
        45% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }

    @keyframes Animation_PrintExample3 {
        0% {
            opacity: 0;
        }
        45% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        70% {
            opacity: 1;
        }
        75% {
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }

    @keyframes Animation_PrintExample4 {
        0% {
            opacity: 0;
        }
        70% {
            opacity: 0;
        }
        75% {
            opacity: 1;
        }
        95% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }